<style type="text/css">
<!--
A {text-decoration:none}
A:link{color:#00ee00;}
A:hover{text-decoration:underline; color:#eeeeee;font-size: 14pt}
A:visited {font-family: "ו"; color:#00bb00}
BODY { 
	font-family: "ו", "Arial", "Times New Roman"; 
	font-size: 12pt;
	background-color: #000000;
	background-image: url(http://www.cbi.pku.edu.cn/chinese/documents/perl/images/Image6.jpg);
	color: #dddddd;
	background-attachment: fixed;
}
-->
</style>
